language: python
python: "3.6"
env:
  - BACKEND_SOURCE=$TRAVIS_BUILD_DIR/server
services:
  - docker
before_script: 
  - pip install docker-compose
jobs:
  include:
    - stage: "Build docker image"
      if: branch = develop
      script: 
        - cd $TRAVIS_BUILD_DIR/docker
        - docker-compose build
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
        - docker push rakeshchoyal92/planimation-backend:latest
